@import '../../common/reset';
@import '../../component/foot.scss';
@import '../../component/head.scss';
@import '../../common/base';
@import '../../common/iconfont';
@import '../../iconcss/icon_1';

.main_panel {
    height: 25px;
    line-height: 25px;
    margin-top: 22px;
    margin-bottom: 10px;
    &.all {
        height: 50px;
        line-height: 50px;
        margin-top: 35px;
        background: #eee;
        .add_inpaper {
            button {
                line-height: 50px;
                width:140px;
                height:50px;
                font-size:20px;
                color:#ffffff;
            }
        }
    }
    .selectall {
        cursor: pointer;
        margin-left: 25px;
        i {
            width: 15px;
            height: 15px;
            border: 1px solid #c5c5c5;
            text-align: center;
            line-height: 15px;
            color: #fff;
            background: #fff;
        }
        span {
            font-size: 12px;
            color: #333333;
        }
        &.selected {
            i {
                background: #ff3c23;
            }
        }
    }
    .add_inpaper {
        font-size: 12px;
        color: #666666;
        span {
            color: #ff3c23;
        }
        em {
            font-size:20px;
            color:#ff3c23;
            font-weight: bold;
        }
        button {
            background: #ff3c23;
            border-radius: 2px;
            width: 80px;
            height: 24px;
            font-size: 12px;
            color: #ffffff;
            line-height: 24px;
            text-align: center;
            outline: none;
            border: none;
            cursor: pointer;
            margin-left: 10px;
            &.disable {
                background: #aaaaaa;
            }
        }
    }
}

.inpaper_title {
    padding-top: 20px;
    padding-bottom: 20px;
    .allpick {
        margin-left: 25px;
        margin-right: 65px;
        i {
            width: 16px;
            height:16px;
            line-height: 16px;
            text-indent: -4px;
            color: #fff;
            background: #fff;
            font-size: 21px;
            border: 1px solid #c5c5c5;
            &.selected {
                background: #ff3c23;
                border-color: #ff3c23;
            }
        }
    }
    span {
        font-size:12px;
        color:#333333;
        &:nth-child(2){
            margin-right: 137px;
        }
        &:nth-child(3){
            margin-right: 30px;
        }
        &:nth-child(4){
            margin-right: 30px;
        }
        &:nth-child(5){
            margin-right: 38px;
        }
        &:nth-child(6){
            margin-right: 39px;
        }
        &:nth-child(7){
            margin-right: 139px;
        }
        &:nth-child(8){
            margin-right: 40px;
        }
        &:nth-child(9){
            margin-right: 59px;
        }
    }
}

.inpaper_single {
    .single {
        background: #fff;
        box-shadow:0 1px 1px 0 #e5e5e5;
        min-height:120px;
        position: relative;
        padding-top: 20px;
        padding-left: 140px;
        margin-bottom: 10px;
        .check {
            width: 16px;
            height:16px;
            line-height: 16px;
            text-indent: -4px;
            color: #fff;
            background: #fff;
            font-size: 21px;
            border: 1px solid #c5c5c5;
            position: absolute;
            left: 25px;
            top: 20px;
            cursor:pointer;
            &.selected {
                background: #ff3c23;
                border-color: #ff3c23;
            }
        }
        .delete {
            background:#fafafa;
            width:41px;
            height:30px;
            font-size: 23px;
            color: #666;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 30px;
            text-align: center;
            cursor: pointer;
            margin-right: 0;
            &:hover {
                color: #fff;
                background: #ff3c23;
            }
        }
        .pic {
            width: 80px;
            height: 80px;
            background: pink;
            position: absolute;
            left: 50px;
            top: 20px;
            img {
                width: 100%;
            }
        }
        .content {
            .content_title {
                font-size:12px;
                color:#666666;
                width: 154px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
            .row {
                font-size:12px;
                color:#666666;
                padding-bottom: 40px;
                span {
                    display: inline-block;
                    &:nth-child(1){
                        width:200px;
                    }
                    &:nth-child(2){
                        width:75px;
                    }
                    &:nth-child(3){
                        width:100px;
                    }
                    &:nth-child(4){
                        width:100px;
                    }
                    &:nth-child(5){
                        width:55px;
                        color: #ff3c23;
                        font-weight: bold;
                    }
                    &:nth-child(6){
                        width:190px;
                        button {
                            background:#f9f9f9;
                            border:1px solid #eeeeee;
                            width:26px;
                            height:27px;
                            cursor: pointer;
                        }
                        input {
                            background:#ffffff;
                            border:1px solid #eeeeee;
                            width:40px;
                            height:25px;
                            text-align:center;
                        }
                    }
                    &:nth-child(7){
                        width:100px;
                    }

                    &:nth-child(8){
                        width:90px;
                    }
                }
            }
        }
    }
}

.warning {
    font-size:12px;
    color:#333333;
    border:1px solid #eeeeee;
    width:460px;
    height:36px;
    line-height: 36px;
    padding-left: 10px;
    margin-top: 20px;
    i {
        background:#ff7e18;
        width:14px;
        height:14px;
        border-radius: 100%;
        color: #fff;
        text-align: center;
    }
}